extends layout
block content
    .login-panel
        img(src="img/login-img.jpg" height="50px" width="100px")
        include includes/login-form 
    .register-panel
        img(src="img/register-img.jpg" height="50px" width="100px")
        include includes/register-form